# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.lib
*.idea
*.iml
target
.idea
.iml
.lib

extent-reports
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
/hs_err_pid*
/.classpath
/.settings/*
/screenshots/*
/screenshots/*.*
/test-output
/test-output/*.*
/test-output/emailable-report.html
/*.prefs
/.settings/*.*
/bin/
/DownloadPath/*.*
Debug.xml
Sanity.xml
